.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

.coverage
.DS_Store

env

__pychache__/

src/**/migrations/*.py
!src/**/migrations/__init__.py